.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: auto;
  height: auto;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.closeButton {
  float: right;
  margin-top: -35px;
  margin-right: -45px;
  cursor: pointer;
}
.closeButton:hover {
  color: #13ffcc;
}
