input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}
.progress {
  height: 3px !important;
}
.progress-bar {
  width: 0%;
}
.progress-bar-danger {
  background-color: #e90f10;
  width: 20%;
}
.progress-bar-warning {
  background-color: #ff5e00;
  width: 40%;
}
.progress-bar-okay {
  background-color: #ffd000;
  width: 60%;
}
.progress-bar-good {
  background-color: #9dff00;
  width: 80%;
}
.progress-bar-success {
  background-color: #02b502;
  width: 100%;
}

.fa-circle {
  font-size: 6px;
}
.fa-check {
  color: #02b502;
}
